html, body {
    height: 100%;
}

.divCopy {
    padding: 15px;
    border-left: 3px solid #FF7A00;
}

.divCopyText {
    width: 50%;
    font-size: 120%;
}

body {
    margin: 0;
    padding: 0;
    /*background-image: url("/startIMG/Фон.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-clip: border-box;*/
    /*background-size: cover;*/
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    border-top: 3px solid #FF7A00;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.logoFooter {
    border-right: 3px solid #FF7A00;
    margin: 0 auto;
    padding: 0;
}

.global {
    background-color: #f4f4f4;
    width: 100%;
    margin: 0 auto;
    flex: 1 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

li img {
    vertical-align: middle;
}

.dh {
    font-size: 300%;
    /*color: #FF7A00;*/
    background: linear-gradient(to right, #FF7A00, red);
    font-family: SEGOE SCRIPT;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dh2 {
    font-size: 120%;
    padding: 15px;
    /*color: #FF7A00;*/
    background: linear-gradient(to right, #FF7A00, red);
    font-family: SEGOE SCRIPT;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dh3 {
    font-size: 100%;
    /*color: #FF7A00;*/
    background: linear-gradient(to right, #FF7A00, red);
    font-family: SEGOE SCRIPT;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav_basket {
    width: 7em;
}

.nav_basketFooter {
    width: 75px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-right: 15px;
}

li .sl {
    display: block;
    color: #FF7A00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .sl2 {
    display: block;
    text-decoration: none;
}

li .sl3 {
    color: #939393;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

li .sl:hover:not(.active) {
    background-color: #FF7A00;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
}

.btn_nav {
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-size: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FF7A00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    outline: none;
    color: white;
    text-decoration: none;
}

.btn_nav:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
}

nav.main-nav {
    margin-bottom: 25px;
    /*background-color: #333333;*/
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0.0em 0.0em 5px rgba(122, 122, 122, 0.5);
}

.ulMenu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
