html, body {
    height: 100%;
    background: #f4f4f4;
}

.divCopy {
    padding: 15px;
    border-left: 3px solid #FF7A00;
    box-sizing: border-box;
    margin: 0 auto;
}

.divCopyText {
    width: 40%;
    font-size: 120%;
    padding: 1%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    border-top: 3px solid #FF7A00;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.logoFooter {
    border-right: 3px solid #FF7A00;
    margin: 0 auto;
    padding: 15px;
}

.logoFooter img {
    width: 300px;
}

.global {
    background-color: #f4f4f4;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    flex: 1 0 auto;
}

li img {
    vertical-align: middle;
}

.dh {
    font-size: 150%;
    background: linear-gradient(to right, #FF7A00, red);
    font-family: SEGOE SCRIPT;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dh2 {
    font-size: 120%;
    padding: 15px;
    background: linear-gradient(to right, #FF7A00, red);
    font-family: SEGOE SCRIPT;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.dh3 {
    font-size: 100%;
    background: linear-gradient(to right, #FF7A00, red);
    font-family: SEGOE SCRIPT;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav_basket {
    width: 7em;
}

.nav_logo {
    width: 5em;
}

.nav_cont {
    position: relative;
    width: 100%;
}

.nav_count {
    text-align: center;
    font-size: 120%;
    width: 25px;
    height: 25px;
    border: 2px solid orange;
    border-radius: 50%;
    background-color: #f4f4f4;
    position: absolute;
    right: 40%;
    top: 50%;
    color: #ff0400;
}

.nav_basketFooter {
    width: 75px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-right: 15px;
}

li .sl {
    display: block;
    color: #FF7A00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .sl2 {
    display: block;
    text-decoration: none;
}

li .sl3 {
    color: #939393;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

li .sl:hover:not(.active) {
    background-color: #FF7A00;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
}

.btn_nav {
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-size: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FF7A00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    outline: none;
    color: white;
    text-decoration: none;
}

.btn_nav:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
}


* {
    box-sizing: border-box;
    transition: 0.4s ease all;
}

.navbar {
    background-color: #f4f4f4;
    padding: 15px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 0.0em 0.0em 5px rgba(122, 122, 122, 0.5);
}

.navbar .logo {
    cursor: pointer;
    font-family: "Lacquer";
}

.navbar ul.links {
    font-family: "Nunito";
    margin-left: auto;
    margin-right: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    transition: 0.4s ease all, 0s ease background;
}

.navbar ul.links li {
    text-transform: uppercase;
    padding: 0 15px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease all, 0s ease margin;
}

.navbar ul.links li a {
    display: block;
    color: #FF7A00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.content {
    background-size: cover;
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.content h2 {
    color: #ffc600;
}

.navbar.sticky {
    position: fixed;
    z-index: 40;
}

.navbar.sticky ~ main {
    position: relative;
    z-index: 20;
    top: 65px;
}

@media screen and (max-width: 850px) {
    .navbar .right {
        height: 0;
        overflow: hidden;
    }

    .toggle {
        position: absolute;
        top: 32.5px;
        right: 20px;
        z-index: 99;
        transform: translateY(-50%);
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .toggle > * {
        width: 80%;
        height: 2px;
        background-color: #FF7A00;
        margin: 3px 0;
    }

    .navbar.collapsed .toggle .line1 {
        transform: rotate(-45deg) translate(-4px, 5px);
    }

    .navbar.collapsed .toggle .line2 {
        opacity: 0;
    }

    .navbar.collapsed .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .navbar.collapsed .logo {
        position: absolute;
        z-index: 44;
    }

    .navbar .links {
        position: fixed;
        background: #080808;
        font-family: "Nunito";
        z-index: 40;
        top: 0;
        left: -100%;
        flex-direction: column;
        width: 45vw;
        height: 100vh;
    }

    .navbar .links li:first-child {
        margin-top: 80px;
    }

    .navbar.collapsed .links {
        left: 0;
    }

    .navbar.collapsed .links a {
        color: #fff;
    }

    .navbar.collapsed .links li {
        width: 100%;
    }

    .navbar.collapsed .links li:hover a {
        color: #080808;
    }

    .navbar.collapsed .right {
        position: fixed;
        font-family: "Nunito";
        width: 45vw;
        text-align: center;
        height: auto;
        bottom: 40px;
        left: 22.5vw;
        transform: translateX(-50%);
        z-index: 45;
    }

    .navbar.collapsed ~ main {
        filter: blur(1px);
        opacity: 0.8;
    }

    .navbar.sticky {
        position: fixed;
        z-index: 40;
    }
}

@media screen and (max-width: 375px) {
    .dh {
        font-size: 70%;
        background: linear-gradient(to right, #FF7A00, red);
        font-family: SEGOE SCRIPT;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nav_logo {
        width: 2em;
    }

    .nav_basket {
        width: 5em;
    }
}

@media screen and (max-width: 640px) {
    .dh {
        font-size: 90%;
        background: linear-gradient(to right, #FF7A00, red);
        font-family: SEGOE SCRIPT;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nav_logo {
        width: 3em;
    }

    .nav_basket {
        width: 5em;
    }
}
@media screen and (max-width: 1200px) {
    .dh {
        font-size: 90%;
        background: linear-gradient(to right, #FF7A00, red);
        font-family: SEGOE SCRIPT;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nav_logo {
        width: 3em;
    }

    .nav_basket {
        width: 5em;
    }
}